.App .legend-container {
    bottom: 30px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: absolute;
    right: 10px;
    z-index: 1;
    color: black;
}
.App .legend-container > div {
    background-color: rgba(250, 250, 250, 1);
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.App .population-legend {
    padding: 10px;
    margin-top: 10px;
}
.App .population-legend.hide {
    display: none;
}
.App .population-legend .disabled {
    display: none;
}
    
.App .population-legend h4 {
    margin: 0 0 10px;
}
