.create-brand-affinity-modal {
    border-radius: 5px;
}

.create-brand-affinity-modal .date-container{
    font-size: 14px;
}
.create-brand-affinity-modal .date-row {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 14px;
}

.create-brand-affinity-modal .date-container .date-row .start-date input[type=date],
.create-brand-affinity-modal .date-container .date-row .end-date input[type=date] {
    width: initial;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
}

.create-brand-affinity-modal .buttons {
    display: flex;
    justify-content: center;
    height: 25px;
    padding-bottom: 12px;
}

.create-brand-affinity-modal .buttons button {
    font-size: 14px;
    background-color: darkslateblue;
    color: white;
    border: 0;
    padding: 5px 10px;
    height: 30px;
}

/* margin-left: 10px; */

/* .create-brand-affinity-modal .row {
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.create-brand-affinity-modal .row:after {
    content: "";
    display: table;
    clear: both;
}

.create-brand-affinity-modal .col-35 {
    float: left;
    width: 35%;
    margin-top: 6px;
}

.create-brand-affinity-modal .col-65 {
    float: left;
    width: 65%;
    margin-top: 6px;
}

.create-brand-affinity-modal .buttons {
    display: flex;
    justify-content: center;
}

.create-brand-affinity-modal .buttons button {
    margin-left: 10px;
}
.create-brand-affinity-modal .buttons button:first-child {
    margin-left: 0;
} */

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
/*@media screen and (max-width: 600px) {
    .create-brand-affinity-modal .col-35,
    .create-brand-affinity-modal .col-65 {
        width: 100%;
        margin-top: 0;
    }
}*/
